/* font-family: 'Ubuntu', sans-serif; */

/* css in navbar  logo*/
/* *{
     font-family: 'Ubuntu', sans-serif;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
}

body{
     overflow-x: hidden;
}
.borderColor{
 background-color: black;
}
#PersonalDetails{
color: rgb(0, 0, 0);
background-color: white;
font-size: 18px;
margin-left: -12px;
padding-right: 10px;
padding-top: 10px;
border-bottom-right-radius:5px ;
}
 */


